@font-face {
    font-family: 'Staatliches';
    src: url('../assets/fonts/Staatliches-Regular.ttf');
}

#team-parent {
    width: 100vw;
    overflow-x: hidden;
    background: black;
    color: white;
    font-family: 'Staatliches';
    background: url('../assets/layers/team_bg.png');
}

#team-parent h1 {
    font-family: 'Azonix';
    text-align: center;
    font-size: 4.5rem;
    margin: 2rem auto 4rem auto;
}

div.devs h1 {
    margin-bottom: 7rem !important;
}

div.devs .photos>div>div:first-child {
    width: 300px;
    height: 300px;
}

.team {
    width: 80%;
    margin: auto;
    font-size: 1.8rem;
    display: flex;
}

.department {
    min-width: 350px;
}

.department:hover {
    color: #FEA201;
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.photos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    transition: 150ms ease-in-out;
}

.photos>div {
    margin-bottom: 2rem;
}

.photos>div>div:first-child {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 4rem;
    background: url('../assets/team/Polygon.png');
    background-size: cover;
    transform: rotate(100deg);
    transition: 150ms ease-in-out;
}

.photos img {
    max-width: 300px;
    margin: auto;
    max-height: 300px;
    transform: rotate(-100deg);
    position: relative;
    transition: 150ms ease-in-out;
    left: 20px;
}

.photos>div>div:first-child:hover img {
    transition-delay: 150ms;
    transform: rotate(0deg);
}

.photos>div>div:first-child:hover {
    transform: rotate(0deg);
}

@media (max-width:1400px) {
    .team {
        width: 90%;
        margin: auto;
    }
}

@media (max-width:1150px) {
    .photos {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:850px) {
    .photos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .team {
        flex-direction: column;
        justify-content: space-around;
    }

    .depart-name {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        text-align: center;
        margin-bottom: 6rem;
        grid-column-gap: 3rem;
    }
}

@media (max-width:650px) {
    #team-parent h1 {
        font-size: 3.5rem;
    }
}

.selected {
    color: #FEA201 !important;
}

.details {
    font-family: 'Montserrat';
    margin-top: -35px;
    justify-content: space-around;
}

.details p {
    margin-bottom: 0;
    font-size: 1rem;
}

.name {
    color: #FEA201;
    font-size: 2rem !important;
}

.post {
    font-weight: bold;
    color: #FEA201;
}