.home-main-sec {
    background: url(../assets/Background1.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
}

.main-section {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.home-main-sec h1 {
    font-size: 13rem;
    display: inline;
    text-shadow: 5px 9px #5f2503;
}

.home-main-sec h2 {
    font-size: 4rem;
    display: inline;
    color: #f8de01;
    text-shadow: 3px 5px #5f2503;
}

.logo-and-spree {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 300px;
    padding-right: 2.5rem;
    padding-bottom: 30px;
}

.main-spree-text {
    text-align: right;
    font-family: 'Arvo', serif;
    font-style: italic;
}

.home-main-sec a:hover {
    color: white;
    transition: 200ms ease-in;
}

.follow-icon {
    width: 40px;
}

.main-footer {
    position: absolute;
    top: 88%;
    right: 7%;
    display: flex;
}

.follow-h2 {
    display: flex;
    align-items: center;
    justify-content: middle;
}

.main-footer h2,
.main-footer img {
    margin-right: 1.5rem;
    vertical-align: top;
}

.main-footer img {
    cursor: pointer;
}

.main-footer h2 {
    font-size: 2rem;
    color: #f8de01;
    font-weight: 600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
}

.credits {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.credits h2 {
    font-size: 1.5rem;
}

.devsoc-logo {
    position: absolute;
    top: 88%;
    left: 1.5%;
}

.devsoc-logo img {
    width: 6rem;
}

.credits a {
    text-decoration: none;
    color: #f8de01;
}

@media (max-width:1200px) {
    html {
        font-size: 12px;
    }

    .main-nav {
        margin-top: 2rem;
    }

    .main-nav a {
        font-size: 3.5rem;
    }
}

@media (max-width:1000px) {
    html {
        font-size: 12px;
    }

    .logo img {
        width: 250px;
    }


    .main-nav a {
        font-size: 2.5rem;
    }

    .home-main-sec h1 {
        font-size: 11rem;
    }


    .home-main-sec h2 {
        font-size: 2rem;
    }

    .main-footer h2 {
        font-size: 2rem;
    }

    .main-footer img {
        width: 30px;
    }
}

@media (max-width:750px) {
    html {
        font-size: 10px;
    }

    .logo-and-spree {
        flex-direction: column;
    }

    .main-section {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .credits img {
        width: 30px;
    }

    .main-footer {
        top: 83%;
    }

}

@media (max-width:600px) {
    html {
        font-size: 8px;
    }

    .main-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 1.5rem;
    }

    .main-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 1.5rem;
    }

    .main-footer h2 {
        font-size: 2rem;
    }
}

@media (max-width:500px) {
    html {
        font-size: 7px;
    }

    .main-footer {
        width: 100%;
        padding-left: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-nav a {
        letter-spacing: 2px;
    }

    .main-footer h2 {
        font-size: 3rem;
    }

    .main-footer img {
        width: 3rem;
    }
}