.main-nav {
    float: right;
    display: flex;
    direction: row;
}

.main-nav li{
    display: inline;
    font-size: 55px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    margin-right: 2rem;
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.main-nav li a{
    text-decoration: none;
    color: #f8de01;
    letter-spacing: 8px;
}