input {
    width: 30rem;
    height: 4rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    padding-left: 3.5%;
    color: black;
    font-size: 1.5rem;
    font-weight: normal;
}

input::placeholder {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
    text-transform: capitalize;
}