section.gallery {
    color: white;
}

.full {
    width: 100%;
    margin: 2rem auto;
    max-height: 480px;
    overflow: hidden;
    border-radius: 60px;
}



.right {
    display: flex;
    flex-direction: column;
}

.right>div {
    height: 50%;
    width: 100%;
}

.full>div {
    border: 1.3px solid white;
}

.full>div:first-child {
    border-right: none;
}

.up {
    border-bottom: 1.3px solid white !important;
}

#gallery {
    padding-bottom: 3rem;
    width: 80%;
    margin: auto;
    margin-bottom: 12rem;
}


#gallery h1 {
    color: #FEA201;
    text-transform: uppercase;
    text-align: center;
    font-family: 'BankGothic';
    font-size: 8rem;
    letter-spacing: -10px;
    font-weight: 500;
    margin-top: 4rem;
}

@media (max-width:850px) {
    #gallery h1 {
        font-size: 6rem;
    }
}

@media (max-width:550px) {
    #gallery h1 {
        font-size: 4.5rem;
    }
}

@media (max-width:450px) {
    #gallery h1 {
        font-size: 3.5rem;
    }
}

.carasoul {
    max-width: 800px;
    margin: auto;
    color: white;
    margin-top: 2rem;
    height: 450px;
}

.gallery img {
    object-fit: cover;
}

@media (max-width:600px) {
    section#gallery {
        margin-bottom: 0rem !important;
        padding-bottom: 0;
    }
}