.main-nav {
    position: absolute;
    right: 9%;
    top: 3%;
    display: flex;
    direction: row;
}

.main-nav li {
    display: inline;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    margin-right: 2rem;
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.main-nav li a {
    text-decoration: none;
    color: #f8de01;
    letter-spacing: 8px;
}